html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

main {
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
}
.logo-container {
  display: flex;
  align-content:center;
  justify-content: space-around;
  background: ;
}
.insurance {
  font-size: 40px;
  color: red;
  margin-top: 12px;
  text-shadow: 3px 3px white;
  font-family:'Coiny', cursive;
  font-weight: bold;
}
li a {
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
}
.first-nav
.logo-container
ul li {
  display: inline-block;
  padding-top: 20px;
  padding-left: 15px;
  vertical-align: middle;
  text-decoration: none;
}
.first-nav li {
  text-decoration: none;
}
.chat {
  width: 80px;
  margin-right: 600px;
}
.search {
  width: 20px;
}
.navbar-container {
  display: flex;
  align-content: center;
  justify-content: space-around;
  text-decoration: none;
  background: white;
}
.second-nav
.navbar-container
ul li {
  display: inline-block;
  padding-top: 20px;
  padding-left: 20px;
  vertical-align: middle;
  text-decoration: none;
}
.second-nav li {
  text-decoration: none;
}

.One {
background:linear-gradient(to bottom right,rgba(0, 0, 0, 0.5),rgba(255, 255, 255, 0.5)), url('peace.jpg');
height: 800px;
background-position: center;
background-size: cover;
}

.big {
  font-size: 100px;
  color: white;
  text-align: center;
  margin-left: 0px;
  margin-top: 130px;
  text-shadow: 7px 7px black;
  font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
}
.med {
  font-size: 40px;
  text-align: center;
  color: white;
  margin-left: px;
  font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
}

.btn {
  display: inline-block;
  background-color: white;
  padding: 15px;
  text-decoration: none;
  margin-top: 45px;
  margin-left: 600px;
}
.log {
  width: 50px;
  padding-left: 120px;
  padding-bottom: 40px;
  padding-top: 40px;

}
.bgheading {
  text-align: center;
  font-size: 30px;
  color: grey;
}
.col-1,
.col-2,
.col-3,
.col-4 {
  width: 15rem;
  height: 18rem;
  border: none;
  display: inline-block;
  background-color: whitesmoke;
  margin-left: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.col-img {
  width: 150px;
  height: 100px;
  margin-left: 50px;
}
.title {
  text-align: center;
  font-size: 25px;
}
.paragraph {
  text-align: center;
}
.graphs {
  margin-top: 50px;
  background-color: #E5E7E6;
}
.cd2 {
  width: 250px;
  height: 150px;
}
.cards{
  padding:35px;
}
.card {
  margin-left: 20px;
  width: 21%;
  padding: 10px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.pro {
  width: 50px;
  height: 40px;
}
.cal {
  width: 50px;
  height: 40px;
}
.container {
  padding: 10px;
}
.cardb {
  padding:10px;
}
p {
  padding: 10px;
}
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
  width: 8rem;
  border: none;
  margin-left: 100px;
  padding: 10px;
  display: inline-flex;

}

.colc {
  width: 100px;
  height: 100px;
  }
.medHead {
  font-size: 20px;
}
  input[type=text] {
  width: 80%;
  height: 18px;
  padding: 20px;
  margin-left:40px;
  box-sizing: border-box;
}
.btnn {
  background: red;
  padding: 16px;
}
.columnF {
  float: left;
  width: 18%;
  padding: 12px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
footer {
  background-color: #001A23;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito', sans-serif;
}
.footH {
  font-size: 25px;
  color:red;
  text-shadow: 1px 1px white;
  font-family:'Coiny', cursive;
  font-weight: bold;
}
.smIcon {
  width: 35px;
  height: 35px;
}
.FFF {
  color: white;
}
.un {
  color: white;
  text-align: center;
}
.el {
  color: white;
  margin-top: 30px;
}
.ppp {
  color: #001A23;
}
.pppp {
  color:#001A23;
}
.II {
  width:30px;
  float:right;
  background: #001A23;
  padding:15px;
}
